ul.horizontal-list {
  display: flex;
  //justify-content: space-between;
  margin-top: 0em;
  margin-left: -40px;
  flex-wrap: wrap;

  li {
    display:inline;
    margin-right: 1em;
  }

  li a {
    text-decoration: none;
    font-weight: normal
  }

}

.card {
  padding: 1em;
  border: 1px var(--text) solid;
  width: 11em;
  height: auto;
  text-align: center;
  font-size: 1em;
  align-items: center;
  background-color: var(--bg-secondary);
  margin-bottom: 0.8em;
  border-radius: 0.8em;

  .header {
    color: var(--links);
  }

  .body {
    font-size: 0.8em;
  }

  hr {
    margin: 0.5em 0;
  }

}

.horizontal-card {
  border: 1px var(--text) solid;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 75px auto;
  font-size: 1em;
  padding: 1em;
  background-color: var(--bg-secondary);
  margin-bottom: 0.8em;
  border-radius: 0.8em;
}

.horiz-header {
  display: grid; 
  grid-area: 1 / 1;
  display: flex;
  align-items: top;
  color: var(--links);
}

.horiz-body {
  display: grid;
  grid-area: 2 / 1;
  display: flex;
  align-content: top;
  font-size: 0.8em;
}

.horiz-thumbnail {
  margin-left: 1em;
  display: grid;
  grid-area: 1 / 2 / span 2 / span 1;
  align-content: center;
  object-fit: cover;
}

/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 600px) {
  ul.horizontal-list li.card {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    a, .header {
      font-size: 1em;
    }
  }
}
iframe {
  display: block;
  border-style:none;
  margin: 0 auto;
}